@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Bricolage Grotesque", sans-serif;
  --color-obsidian: #0A0A0A;
  --color-ink: #141414;
}

@layer base {
  body {
    @apply bg-obsidian text-white font-sans antialiased selection:bg-white selection:text-obsidian;
    overscroll-behavior: none;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

